header{
    margin-top: 3em;
    margin-bottom: 6em;

}

body{
    background-color: rgb(93, 100, 105);
}

h1{
    text-align: center;
}

fieldset{
    background-color: aliceblue;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

input{
    margin-left: 1em;
    margin-right: 1em;
    float: right;
}

label{
    margin-left: 1em;
    margin-right: 1em;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: small;
}

.labelTextfeld{
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.bAnmelden{
    font-size: 100%;
}

