body {
    background-color: #373737;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.login {
    text-align: center;
    font-family: sans-serif;
    grid-area: login;
}

form {
    background-color: #ffffff;
    width: fit-content;
    border-radius: 7px;
    border: none;
    font-family: sans-serif;
    margin: auto auto;
    text-align: center;
}

input {
    margin-left: 1em;
    margin-right: 1em;
    float: right;
}


label {
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    font-size: small;
}

.labelTextfeld {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.bAnmelden {
    font-size: 100%;
    font-family: sans-serif;
}

.inputContainerForLogin {
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas:
        "login login"
        "mail password"
        "mail password"
        "bLogin newHere"
    ;
}

.email {
    grid-area: mail;
    display: flex;
    flex-direction: column;
}

.password {
    grid-area: password;
    display: flex;
    flex-direction: column;
}

.blogin {
    grid-area: bLogin;
    width: 60px;
    height: 40px;
}

.newHere {
    grid-area: newHere;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}