body {
    background-color: #373737;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.login {
    text-align: center;
    font-family: sans-serif;
    grid-area: login;
}

form {
    background-color: #ffffff;
    width: fit-content;
    border-radius: 7px;
    border: none;
    font-family: sans-serif;
    text-align: center;
}

input {
    margin-left: 1em;
    margin-right: 1em;
    float: left;
}


label {
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    float: left;
}

.labelTextfeld {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.bAnmelden {
    font-size: 100%;
    font-family: sans-serif;
}

.inputContainerForLogin {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    grid-template-areas:
        "login"
        "mail"
        "password"
        "bLogin"
        "newHere"
    ;
}

.email {
    grid-area: mail;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
}

.password {
    grid-area: password;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
}

.blogin {
    margin: 5em;
    size: small;
    grid-area: bLogin;
}

.newHere {
    grid-area: newHere;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}