body {
    background-color: #373737;
}

.overlay {
    position: absolute;
    font-size: 100%;
    inset: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

form {
    background-color: #ffffff;
    width: fit-content;
    border-radius: 7px;
    border: none;
    font-family: sans-serif;
    text-align: center;
}

.inputContainerForLogin {
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
}

.loginHeading {
    display: block;
    align-self: center;
    font-family: sans-serif;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.inputPassword {
    display: block;
    width: 21rem;
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 1rem;
    border-color: #000000;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.inputEmail {
    display: block;
    width: 21rem;
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 1rem;
    border-color: #000000;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.buttonLogin {
    display: block;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 1rem;    
}

.openSignUp {
    font-size: 0.75rem;
}
html{
    font-size: 32;
}
@media screen and (max-width: 600px) {

    .inputContainerForLogin{
        width: fit-content;
        font-size: 1rem;
        
    }
    .loginHeading{
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .inputEmail{
        width: 15rem;
        font-size: 0.75rem;
    }
    .inputPassword{
        width: 15rem;
        font-size: 0.75rem;
    }
    .buttonLogin{
        font-size: 0.75rem;
        margin: auto;
    }
    .openSignUp{
        font-size: 0.5rem;
    }

}