body {
    background-color: #373737;
}

.overlay {
    position: absolute;
    font-size: 100%;
    inset: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

form {
    background-color: #ffffff;
    width: fit-content;
    border-radius: 7px;
    border: none;
    font-family: sans-serif;
    text-align: center;
}

.inputContainerForLogin {
    width: fit-content;
    height: fit-content;
}

.loginHeading {
    display: block;
    font-size: 2rem;
    font-family: sans-serif;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

input {
    display: block;
    width: 350px;
    font-size: 1.25rem;
    padding: 4px 12px 4px 12px;
    border-radius: 16px;
    border: 2px solid black;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.buttonLogin {
    display: block;
    font-size: 1.25rem;
    margin: auto;
    margin-top: 1.5vh;
    border-radius: 16px;
    border: 2px solid black;
}

.openSignUp {
    font-size: 0.75rem;
}

@media screen and (max-width: 400px) {
    .loginHeading {
        font-size: 1.5rem;
    }

    input {
        width: 250px;
        font-size: 1rem;
    }

    .buttonLogin {
        font-size: 1rem;
    }
}