
.task {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(206, 205, 205, 0.24);
    width: 90%;
    border-radius: 0.75vw;
    margin-top: 1vh;
}

.taskTitle {
    margin-top: 1vh;
    margin-bottom: -2vh;
}

.editTaskButtons {
    margin-top: -1vh;
    width: 100%;
}

.buttonTask{
    border-radius: 0.75vw;
    float: right;
}

.inputTask {
    font-size: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}