* {
    font-family: sans-serif;
}

header {
    text-align: center;
}

.kanbanContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.category {
    border: 3px solid rgba(255, 255, 255, 0.281);
    border-radius: 20px;
    box-shadow: 1px 10px 10px 1px rgba(131, 131, 131, 0.295);
    margin: 1.5vw;
    width: 100%;
    background-color: rgba(206, 205, 205, 0.24);
    display: flex;
    padding-bottom: 2vh;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

.heading {
    width: 30%;
    padding-top: 1%;
    margin:auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 1px rgba(146, 126, 126, 0.178);
}

.headingTodo {
    background-color: rgba(128, 128, 128, 0.199);
    color: gray;
}

.headingInProgress {
    background-color: rgba(121, 177, 230, 0.329);
    color: rgb(121, 177, 230);
}

.headingDone {
    background-color: rgba(126, 228, 126, 0.274);
    color: rgba(63, 150, 63, 0.699);
}

.addButton {
    width: 90%;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.144);
    box-shadow: 1px 3px 3px 1px rgba(146, 126, 126, 0.103);
}

.addButton:hover {
    background-color: rgba(128, 128, 128, 0.212);
    box-shadow: 1px 3px 3px 1px rgba(146, 126, 126, 0.089);
}

.addButton:active {
    transform: translateY(1px);
}

@media only screen and (max-width : 1500px) {
    .headingInProgress {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1100px) {
    .kanbanContainer {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 700px) {
    .chooseCategory {
    display: flex;
    flex-direction:column;
    }
}

#addTaskContainer {
    box-shadow: 1px 10px 10px 1px rgba(131, 131, 131, 0.295);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    display: none;
    width: 50%;
    border: 3px solid #868686;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 1%;
}

.chooseCategory {
    display: flex;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

#descriptionTextarea {
    height: 10vh;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #0066ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=button] {
    margin-right: 0.3vw;
    background-color: #9e9c9c5b;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.addTaskColumnLeft {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.addTaskColumnRight {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.addTaskRow:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .col-25,
    .col-75 {
        width: 50%;
        margin-top: 0;
    }
}
