* {
    font-family: sans-serif;
}

header {
    text-align: center;
}

.kanbanContainer {
    display: flex;
    flex-direction: row;
    margin: auto 15vw;
}

.category {
    border: 3px solid rgba(255, 255, 255, 0.281);
    border-radius: 30px;
    box-shadow: 1px 10px 10px 1px rgba(131, 131, 131, 0.295);
    margin: 2vw;
    width: 100%;
    background-color: rgba(206, 205, 205, 0.24);
    padding-bottom: 70vh;
    display: flex;
    flex-direction: column;
}

.heading {
    padding-top: 1%;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 1px rgba(146, 126, 126, 0.178);
}

.headingTodo {
    background-color: rgba(128, 128, 128, 0.199);
    color: gray;
}

.headingInProgress {
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(121, 177, 230, 0.329);
    color: rgb(121, 177, 230);
}

.headingDone {
    background-color: rgba(126, 228, 126, 0.274);
    color: rgba(63, 150, 63, 0.699);
}

.addButton {
    margin: auto 15%;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.144);
    box-shadow: 1px 3px 3px 1px rgba(146, 126, 126, 0.103);
}

.addButton:hover {
    background-color: rgba(128, 128, 128, 0.212);
    box-shadow: 1px 3px 3px 1px rgba(146, 126, 126, 0.089);
}

.addButton:active {
    transform: translateY(1px);
}

@media only screen and (max-width : 1500px) {
    .headingInProgress {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1100px) {
    .kanbanContainer {
        flex-wrap: wrap;
    }

    .addButton {
        margin: auto 20%;
    }
}

.container {
    position: absolute;
    margin-top: -70vh;
    margin-left: 23%;
    font-family: sans-serif;
    display: none;
    width: 50%;
    border: 3px solid #0066ff;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #0066ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=button] {
    background-color: #cc0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}