#addTaskContainer {
    box-shadow: 1px 10px 10px 1px rgba(131, 131, 131, 0.295);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    display: none;
    width: 50%;
    border: 3px solid #868686;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 1%;
}

@media only screen and (max-width: 700px) {
    .chooseCategory {
        display: flex;
        flex-direction: column;
    }

    #addTaskContainer {
        position: absolute;
        width: 90%;
        left: 50%;
    }
}

.chooseCategory {
    display: flex;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    transition-duration: .5s;
}

#descriptionTextarea {
    height: 10vh;
}

label {
    padding: 12px 12px 12px 0;

}

input[type=submit] {
    transition-duration: .5s;
    background-color: rgb(85, 83, 114);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=button] {
    transition-duration: .5s;
    margin-right: 0.3vw;
    background-color: #9e9c9c5b;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type] {
    transition-duration: .6s;
}

input[type=date] {
    border: 1px solid black;
    border-radius: 4px;
}

input[type=button]:hover, textarea:hover, input[type=text]:hover, input[type=date]:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 1px 5px;
    transition-duration: .5s;
}

input[type=button]:focus, textarea:focus, input[type=text]:focus, input[type=date]:focus {
    background-color: rgba(85, 83, 114, 0.48);
}

input[type=submit]:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 3px 5px;
    transition-duration: .5s;
}

input[type=submit]:hover, input[type=button]:hover {
    scale: 1.02;
}

.addTaskColumnLeft {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.addTaskColumnRight {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.addTaskRow:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .col-25,
    .col-75 {
        width: 50%;
        margin-top: 0;
    }
}