.task {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #505050;
    width: 90%;
    border-radius: 7px;
    color: #ffffffcc;
    cursor:move;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5vh;
}

.taskTitle {
    margin-top: 1vh;
    margin-bottom: -2vh;
}

.inputTask {
    font-size: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.buttonContainer {
    margin-top: -1vh;
    width: 100%;
}

.buttonTask {
    float: right;
    background-color: #505050;
    margin: 0.25vh;
    border: none;
    border-radius: 15px;
}

.buttonTask:hover {
    transform: translateY(-2px);
}

.edit {
    padding: 3px;
}

.delete {
    padding: 0;
}

@media only screen and (max-width: 800px) {

}