.task {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #505050;
    width: 90%;
    border-radius: 7px;
    color: #ffffffcc;
    cursor:move;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5vh;
}
.category:nth-last-child(1) .task{
    background-color: rgba(63, 150, 63, 0.699);
    opacity: 0.85;
}
.category:nth-last-child(2) .task{
    background-color: rgb(121, 177, 230);
    opacity: 0.85;
}
.category:nth-last-child(3) .task{
    background-color: grey;
    opacity: 0.85;
}
.task > .buttonContainer {
    opacity: 0;
    transition-duration: 0.2s;
}

.task:hover > .buttonContainer {
    opacity: 1;
    transition-duration: 0.2s;
}

.taskTitle {
    word-break: break-word;
    margin-top: 1vh;
    margin-bottom: -1vh;
}

.inputTask {
    font-size: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.buttonContainer {
    margin-top: -1vh;
    width: 100%;
}

.taskDescription {
    word-break: break-word;
    padding: 0 1vw;
}

.buttonTask {
    opacity: 0.7;
    transition-duration: 0.2s;
    float: right;
    background: none;
    margin: 0.25vh;
    border: none;
    border-radius: 15px;
}

.buttonTask:hover {
    opacity: 1;
    transition-duration: 0.2s;
    transform: translateY(-2px);
}

.edit {
    padding: 3px;
}

.delete {
    padding: 0;
    background:none;
}

@media only screen and (max-width: 800px) {

}