.task {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--addButtonBackgroundColor);
    width: 90%;
    border-radius: 7px;
    margin-top: 1vh;
    color: var(--addButtonColor);
    box-shadow: 1px 2px 2px 2px var(--categoryBoxShadowColor);
    border: 1px solid var(--categoryBorderColor);
}

.taskTitle {
    margin-top: 1vh;
    margin-bottom: -2vh;
}

.inputTask {
    font-size: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.buttonContainer {
    margin-top: -1vh;
    width: 100%;
}

.buttonTask {
    float: right;
    background-color: rgba(80, 80, 80, 0);
    margin: 0.25vh;
    border: none;
    border-radius: 15px;
}

.buttonTask:hover {
    transform: translateY(-2px);
}

.edit {
    padding: 3px;
}

.delete {
    padding: 0;
}