* {
    font-family: sans-serif;
}

body {
    background-color: var(--mainBackgroundColor);
}

header h1 {
    text-align: center;
    color: var(--headingColor)
}

.kanbanContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.category {
    border: 3px solid var(--categoryBorderColor);
    border-radius: 20px;
    box-shadow: 1px 10px 10px 1px var(--categoryBoxShadowColor);
    margin: 1.5vw;
    width: 100%;
    background-color: var(--categoryBackgroundColor);
    display: flex;
    padding-bottom: 2vh;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

.heading {
    width: 45%;
    padding-top: 1%;
    margin: 1vh auto 2vh;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 1px var(--categoryHeadingBoxShadowColor);
}

.headingTodo {
    background-color: var(--headingTodoBackgroundColor);
    color: var(--headingTodoColor);
}

.headingInProgress {
    background-color: var(--headingInProgressBackgroundColor);
    color: var(--headingInProgressColor);
}

.headingDone {
    background-color: var(--headingDoneBackgroundColor);
    color: var(--headingDoneColor);
}

.addButton {
    width: 90%;
    border-radius: 5px;
    border: none;
    background-color: var(--addButtonBackgroundColor);
    color: var(--addButtonColor);
}

.addButton:hover {
    background-color: var(--addButtonHoverBackgroundColor);
    box-shadow: 1px 3px 3px 1px var(--addButtonHoverBoxShadowColor);
}

.addButton:active {
    transform: translateY(1px);
}

@media only screen and (max-width : 1500px) {
    .headingInProgress {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1100px) {
    .kanbanContainer {
        flex-wrap: wrap;
    }
}
