@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Tilt+Neon&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}

header h1 {
    text-align: center;
    color: black;
}

.kanbanContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.category {
    border: 3px solid rgba(255, 255, 255, 0.281);
    border-radius: 20px;
    box-shadow: 1px 10px 10px 1px rgba(131, 131, 131, 0.295);
    margin: 1.5vw;
    width: 100%;
    background-color: rgba(206, 205, 205, 0.24);
    display: flex;
    padding-bottom: 2vh;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    transition-duration: .5s;
}

.category:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition-duration: .5s;
}

.heading {
    width: 20%;
    margin: 1vh auto 2vh;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 1px rgba(146, 126, 126, 0.178);
}

.headingTodo {
    background-color: rgba(128, 128, 128, 0.199);
    color: grey;
}

.headingInProgress {
    width: 42%;
    background-color: rgba(121, 177, 230, 0.329);
    color: rgb(121, 177, 230);
}

.headingDone {
    background-color: rgba(126, 228, 126, 0.274);
    color: rgba(63, 150, 63, 0.699);
}

.addButton {
    width: 90%;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.144);
    color: black;
    transition-duration: .5s;
}

.addButton:hover {
    background-color: rgba(128, 128, 128, 0.212);
    box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px;
    transition-duration: .5s;
}

.addButton:active {
    transform: translateY(1px);
}

@media only screen and (max-width: 1500px) {
    .headingInProgress {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1100px) {
    .kanbanContainer {
        flex-wrap: wrap;
    }

    .headingInProgress {
        width: 20%;
    }

    .tasks {
        grid-auto-columns: 50%;
        grid-auto-flow: column;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }
}

@media only screen and (max-width: 800px) {
    .headingInProgress {
        width: 50%;
    }
}

.tasks {
    display: grid;
    width: 100%;
    margin-top: 1.5vh;
}
