:root {
    --mainBackgroundColor: white;
    --headingColor: black;
    --categoryBorderColor: rgba(255, 255, 255, 0.281);
    --categoryBoxShadowColor: rgba(131, 131, 131, 0.295);
    --categoryBackgroundColor: rgba(206, 205, 205, 0.24);
    --categoryHeadingBoxShadowColor: rgba(146, 126, 126, 0.178);
    --headingTodoBackgroundColor: rgba(128, 128, 128, 0.199);
    --headingTodoColor: grey;
    --headingInProgressBackgroundColor: rgba(121, 177, 230, 0.329);
    --headingInProgressColor: rgb(121, 177, 230);
    --headingDoneBackgroundColor: rgba(126, 228, 126, 0.274);
    --headingDoneColor: rgba(63, 150, 63, 0.699);
    --addButtonBackgroundColor: rgba(128, 128, 128, 0.144);
    --addButtonColor: black;
    --addButtonHoverBackgroundColor: rgba(128, 128, 128, 0.212);
    --addButtonHoverBoxShadowColor: rgba(146, 126, 126, 0.089);
}